<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Red wine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
addEventListener("load", function() { 
	setTimeout(hideURLbar, 0); 
	},false); 
	function hideURLbar(){ window.scrollTo(0,1); }
</script>
	<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- //bootstrap-css -->
<!-- css -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- //css -->
<script src="js/jquery-1.11.1.min.js"> </script>	
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>		
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<!-- container -->
			<div class="container">
				<div class="logo">
					<h1><a href="index">Beihai <span>Beer</span></a></h1>
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index" class="active">首页</a></li>
								<li><a href="about">产品介绍</a></li>
								<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图片展示<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-bounce-to-bottom" href="gallery1">展示1</a></li>
										<li class="dropdown-submenu">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu" role="button" aria-haspopup="true" aria-expanded="false">展示2<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a tabindex="-1" href="gallery21">展示2.1</a></li>
												<li><a href="gallery22">展示2.2</a></li>
												<li><a href="gallery23">展示2.3</a></li>
											</ul>
										  </li>
										<li><a class="hvr-bounce-to-bottom" href="gallery3">展示3</a></li>           
									</ul>
								</li>
							</ul>	
							<div class="clearfix"> </div>
						</div>	
					</nav>		
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //header -->
		<!-- banner-grids -->
		<div class="banner-grids">
			<!-- container -->
			<div class="container">
				<div class="banner-top-grids">
					<div class="top-grids">
						<div class="col-md-6 banner-grid">
							<div class="banner-left-grid blue">
								<div class="banner-left-icon">
									<div class="services-icon">
										<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
									</div>
								</div>
								<div class="banner-grid-info">
									<h3>Consectetur</h3>
									<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit
										neque erat iaculis faucibus laoreet nec
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-md-6 banner-grid">
							<div class="banner-left-grid green">
								<div class="banner-left-icon">
									<div class="services-icon">
										<span class="glyphicon glyphicon-glass glyphicon-cog" aria-hidden="true"></span>
									</div>
								</div>
								<div class="banner-grid-info">
									<h3>Faucibus</h3>
									<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit
										neque erat iaculis faucibus laoreet nec
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //banner-grids -->
	</div>
	<!-- banner -->
	<!-- welcome -->
	<div class="welcome">
		<!-- container -->
		<div class="container">
			<div class="welcome-info">
				<h2>Welcome</h2>
				<h5>北海超级无敌牛逼啤酒</h5>
				<p>Morbi condimentum imperdiet placerat. Nullam in nisl eget turpis convallis venenatis. Cras cursus elementum justo nec bibendum. Donec quis nisi cursus, vestibulum elit eget, sagittis ligula.</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- welcome -->
	<!-- work -->
	<div class="work">
		<!-- container -->
		<div class="container">
			<div class="work-info">
				<h3>BEIHAI BEER</h3>
			</div>
			<div class="work-grids">
				<div class="work-grids-top">
					<div class="col-md-4 work-grid-left">
						<h5>Nunc molestie</h5>
						<p>non suscipit leo fringilla non suscipit leo fringilla molestie</p>
						<a href="single">more</a>
					</div>
					<div class="col-md-4 work-grid-middle">
						<img src="images/beihai2.jpg" alt="">
					</div>
					<div class="col-md-4 work-grid-left">
						<h5>Nunc molestie</h5>
						<p>non suscipit leo fringilla non suscipit leo fringilla molestie</p>
						<a href="single">more</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="work-grids-top">
					<div class="col-md-4 work-grid-middle">
						<img src="images/5.jpg" alt="">
					</div>
					<div class="col-md-4 work-grid-left">
						<h5>Nunc molestie</h5>
						<p>non suscipit leo fringilla non suscipit leo fringilla molestie</p>
						<a href="single">more</a>
					</div>
					<div class="col-md-4 work-grid-middle">
						<img src="images/7.jpg" alt="">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="work-grids-top">
					<div class="col-md-4 work-grid-left">
						<h5>Nunc molestie</h5>
						<p>non suscipit leo fringilla non suscipit leo fringilla molestie</p>
						<a href="single">more</a>
					</div>
					<div class="col-md-4 work-grid-middle">
						<img src="images/6.jpg" alt="">
					</div>
					<div class="col-md-4 work-grid-left">
						<h5>Nunc molestie</h5>
						<p>non suscipit leo fringilla non suscipit leo fringilla molestie</p>
						<a href="single">more</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>	
		<!-- //container -->
	</div>
	<!-- //work -->
	<!-- news -->
	<div class="news">
		<!-- container -->
		<div class="container">
			<div class="news-info">
				<h3>News & Events</h3>
			</div>
			<div class="news-grids">
				<div class="col-md-6 news-grid">
					<img src="images/8.jpg" alt="" />
					<div class="news-grid-info">
						<a href="single">Donec cursus felis a enim egestas</a>
						<p class="date">19th June | 10:00 - 12:00</p>
						<p class="text">Etiam ex lorem cursus vitae placerat suscipit dapibus tortor sed nec augue vitae placerat suscipit dapibus tortor sed nec augue enim rhoncus ultricies eros interdum aliquam eros iaculis id.</p>
					</div>
				</div>
				<div class="col-md-6 news-grid">
					<img src="images/9.jpg" alt="" />
					<div class="news-grid-info">
						<a href="single">Donec cursus felis a enim egestas</a>
						<p class="date">24th May | 09:00 - 11:00</p>
						<p class="text">Etiam ex lorem cursus vitae placerat suscipit dapibus tortor sed nec augue vitae placerat suscipit dapibus tortor sed nec augue enim rhoncus ultricies eros interdum aliquam eros iaculis id.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //news -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>详细信息</h3>
					<ul>
						<li><a href="index">首页</a></li>
						<li><a href="about">产品介绍</a></li>
						<li><a href="gallery">图片展示</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>联系人</h3>
					<ul>
						<li>孟维海先生</li>
						<li>手机: 134 7583 3700</li>
						<li>qq: 1299461215</li>
						<li>邮箱: 1299461215@qq.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- container -->
	</div>
	<!-- //footer -->
	<!-- footer-bottom -->
	<div class="footer-bottom">
		<!-- container -->
		<div class="container">
			<p>Copyright &copy; 2015.Company name All rights reserved.</p>
		</div>
		<!-- //container -->
	</div>
	<!-- footer-bottom -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
									<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- content-Get-in-touch -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
</body>
</html>